
@{
    ViewBag.Title = "Index";
}

<br />
<br />
<br />
<body class="finished-register-section-body">
    <section class="finished-register-section">
        <div class="container">
            <center><h3>Thank you for your order!</h3></center><br />
            <center><h3>Your order will be sent in the next 2 days.</h3></center><br />
           <center><a href="/Home/Index" class="btn btn-default btn-lg" id="back-to-frontpage">Back to the frontpage</a></center>
        </div>
    </section>
</body>