
@{
    ViewBag.Title = "Index";
}

<br />
<br />
<br />
<body class="finished-register-section-body">
    <section class="finished-register-section">
        <div class="container">
            <center><h1>Tack för din registrering!</h1></center>
            
            <center><a href="/Home/Index" class="btn btn-default btn-lg" id="back-to-frontpage">Back to the frontpage</a></center>
        </div>
    </section>
</body>