
@{
    ViewBag.Title = "BBB - Bean brothers Brews";
}

<body>         
   <!-- Varför blir det liten bild när denna tas bort?  -->
   </div>  

    <!-- Intro Header -->
    <header class="intro">
        <div class="intro-body">
            <div class="container-fluid" id="front-page">
                <div class="row">
                    <div class="col-md-8 col-md-offset-2">
                        <h1 class="brand-heading">Bean Brothers Brew</h1>
                        <!-- En knapp där vi kan göra om och hänvisa dit vi vill. Eventuellt ha 2-3 knappar, just nu är den anchor i "about". -->
                        <!-- Göra en If / Else att inloggingsrutan ej ska visas, om man är inloggad. -->
                        <div class="login-box">
                            @{
                                if (!(bool)Session["userLoggedIn"])
                                {
                                    <form action="/LogIn/Index" method="post" class="form-inline">
                                        <div class="form-group">
                                            <input class="form-control" name="email" placeholder="Email" />
                                            <input class="form-control" name="password" placeholder="Password" type="password" />
                                        </div>

                                        <button type="submit" class="btn btn-default">Login</button>
                                    </form>
                                }
                                else
                                {
                                    <a href="#about" class="btn btn-default btn-lg page-scroll" id="intro-button-after-login">Börja att läsa om oss</a>
                                }
                            }
                        </div>
                        <br><br><br>
                        @*<a href="#page-top" id="intro-button" class="btn btn-default btn-lg">@Session["loggedInMessage"] </a>*@
                        <!-- <p class="intro-text">Good coffee from three famous bro's who lives in Gothenburg. So lean back, drink, relax and enjoy!</p> -->
                        
                    </div>
                </div>
                <!-- /.containern slutar här nedanför. Förändringar ska ske inom den. -->
            </div>
        </div>
    </header>

    <!-- About Sektionen -->
    <section id="about" class="container content-section text-center">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2">
                <h2>Om Bean Brothers Brew</h2>
                <p>Vi säljer typ as gott kaffe och Jimmy gillar att krossa, mala och krydda våra bönor. För att läsa mer, gå in på våran produktsida: <a id="about-link" href="/Product/Index">Produktsida</a>.</p>
                <p>Hej och hå här kommer mycket mer text som bara fyller ut själva sectionen så att det inte blir helt tomt. </p>
                <p>Hej och hå här kommer mycket mer text som bara fyller ut själva sectionen så att det inte blir helt tomt. En länk till en skön sida <a id="about-link" href="http://feber.se/spel/">Spelfeber</a>.</p>
            </div>
        </div>
    </section>

    <!-- Banner för att gå vidare till andra sidor -->
    <!-- "Till webshop" Section -->
    <section id="products" class="content-section">
        <div class="container-fluid" id="products-container">
            <div class="row">
                <div class="col-lg-2 col-md-2 col-sm-2" id="banner-firstpage">
                    <h2 id="banner-header-firstpage">Intressant?</h2>
                    <a href="~/Product/Index" class="btn btn-default btn-lg">Börja handla i Webshop</a><br><br>
                    <a href="#page-top" class="btn btn-default btn-lg page-scroll">Till början av hemsidan</a>
                </div>
            </div>
        </div>
    </section>

    <!-- Contact Section -->
    <section id="contact" class="container content-section text-center">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2">
                <h2>Contact Bean Brothers</h2>
                <p>Hey and nice of you to stop by! Here are we three dog-bro's! Visit the buttons down below as well, thats out Github, twitter and school links :)</p>
                <p>
                    @*<a id="about-link" href="mailto:roberthanssonr@gmail.com">roberthanssonr@gmail.com</a><br>*@
                    <br>
                    @*<a id="about-link" href="mailto:patteee@gmail.com">patteee@gmail.com</a>*@
                </p>
 
            </div>
            <div class="col-lg-4 col-md-4">
                <ul class="contact-awesome">
                    <li>
                        <figure>
                            <img class="img-responsive thumbnail" src="~/Content/img/dog-robert3.jpg" alt="robert" />
                            <figcaption>
                                <h2>Robert Hansson</h2><br />
                                <p>Jag gillar hundar och min e-post finns nedanför.</p><br />
                                <a id="contact-link" href="mailto:roberthanssonr@gmail.com">roberthanssonr@gmail.com</a><br>
                            </figcaption>
                        </figure>
                    </li>
                </ul>
            </div>
            <div class="col-lg-4 col-md-4">
                <ul class="contact-awesome">
                    <li>
                        <figure>
                            <img class="img-responsive thumbnail" src="~/Content/img/dog-patrik.jpg" alt="robert" />
                            <figcaption>
                                <h2>Patrik Nilsson</h2><br />
                                <p>Jag gillar hundar(äger en faktiskt) och min e-post finns nedanför.</p><br />
                                <a id="contact-link" href="mailto:patteee@gmail.com">patteee@gmail.com</a>
                            </figcaption>
                        </figure>
                    </li>
                </ul>
            </div>
            <div class="col-lg-4 col-md-4">
                <ul class="contact-awesome">
                    <li>
                        <figure>
                            <img class="img-responsive thumbnail" src="~/Content/img/dog-jimmy.jpg" alt="robert" />
                            <figcaption>
                                <h2>Jimmy Erikson</h2><br />
                                <p>Jag gillar öl och hundar. Min e-post finns nedanför:</p><br />
                                <a id="contact-link" href="mailto:jimmyerikson@gmail.com">jimmyerikson@gmail.com</a>
                            </figcaption>
                        </figure>
                    </li>
                </ul>
            </div>
        </div>
            </section>
            <section id="contact" class="container content-section text-center">
                <div class="row">
                    <div class="col-lg-8 col-lg-offset-2">
                        <ul class="list-inline banner-social-buttons">
                            <li>
                                <a href="https://twitter.com/JimmyErikson" class="btn btn-default btn-lg"><i class="fa fa-twitter fa-fw"></i> <span class="network-name">Twitter J.Eriksson</span></a>
                            </li>
                            <li>
                                <a href="https://github.com/patriknilsson2" class="btn btn-default btn-lg"><i class="fa fa-github fa-fw"></i> <span class="network-name">Github - BBB</span></a>
                            </li>
                            <li>
                                <a href="https://yh.pingpong.se/login/processlogin?targeturl=%2FstartPage.do" class="btn btn-default btn-lg"><i class="fa fa-google-plus fa-fw"></i> <span class="network-name">Hermods</span></a>
                            </li>
                        </ul>
                    </div>
                </div>             
          </section>
</body>
