
@{
    ViewBag.Title = "BBB - Bean brothers Brews";
}

<body>         
   <!-- Varför blir det liten bild när denna tas bort?  -->
   </div>  

    <!-- Intro Header -->
    <header class="intro">
        <div class="intro-body">
            <div class="container-fluid" id="front-page">
                <div class="row">
                    <div class="col-md-8 col-md-offset-2">
                        <h1 class="brand-heading">Bean Brothers Brew</h1>
                        <!-- En knapp där vi kan göra om och hänvisa dit vi vill. Eventuellt ha 2-3 knappar, just nu är den anchor i "about". -->
                        <!-- Göra en If / Else att inloggingsrutan ej ska visas, om man är inloggad. -->
                        <div class="login-box">
                            @{
                                if (!(bool)Session["userLoggedIn"])
                                {
                                    <form action="/LogIn/Index" method="post" class="form-inline">
                                        <div class="form-group">
                                            <input class="form-control" name="email" placeholder="Email" />
                                            <input class="form-control" name="password" placeholder="Password" type="password" />
                                        </div>

                                        <button type="submit" class="btn btn-default">Login</button>
                                    </form>
                                }
                                else
                                {
                                    <a href="#about" class="btn btn-default btn-lg page-scroll" id="intro-button-after-login">Börja att läsa om oss</a>
                                }
                            }
                        </div>
                        <br><br><br>
                        @*<a href="#page-top" id="intro-button" class="btn btn-default btn-lg">@Session["loggedInMessage"] </a>*@
                        <!-- <p class="intro-text">Good coffee from three famous bro's who lives in Gothenburg. So lean back, drink, relax and enjoy!</p> -->
                        
                    </div>
                </div>
                <!-- /.containern slutar här nedanför. Förändringar ska ske inom den. -->
            </div>
        </div>
    </header>

    <!-- About Sektionen -->
    <section id="about" class="container content-section text-center">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2">
                <h2>About Bean Brothers Brew:</h2>
                <p>At Bean Brothers Brew, the cups are not just twice as deep, - 
                but always half full! We are proud to introduce our latest brew policy: 'no2no' coffe.</p>
                <p>In short,  see:<a id="about-link" href="/Product/Index"> Products</a>. spread the seeds as we grind the breans</p>
                <p>Wheter having your brew before or after work; - you will always have the brothers,</p>
                <p>See you soon! Kind regards: BBB</p>


         </div>
        </div>
    </section>

    <!-- Banner för att gå vidare till andra sidor -->
    <!-- "Till webshop" Section -->
    <section id="products" class="content-section">
        <div class="container-fluid" id="products-container">
            <div class="row">
                <div class="col-lg-2 col-md-2 col-sm-2" id="banner-firstpage">
                    <h2 id="banner-header-firstpage">Intressant?</h2>
                    <a href="~/Product/Index" class="btn btn-default btn-lg">Börja handla i Webshop</a><br><br>
                    <a href="#page-top" class="btn btn-default btn-lg page-scroll">Till början av hemsidan</a>
                </div>
            </div>
        </div>
    </section>

    <!-- Contact Section -->
    <section id="contact" class="container content-section text-center">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2">
                <h2>Contact Bean Brothers</h2>
                <p>Skicka gärna ett mail till någon av våra e-post adresser. Vid sidan kanske vi har bilder? </p>
                <p>
                    <a id="about-link" href="mailto:roberthanssonr@gmail.com">roberthanssonr@gmail.com</a><br>
                    <a id="about-link" href="mailto:jimmyerikson@gmail.com">jimmyerikson@gmail.com</a><br>
                    <a id="about-link" href="mailto:patteee@gmail.com">patteee@gmail.com</a>
                </p>
                <ul class="list-inline banner-social-buttons">
                    <li>
                        <a href="https://twitter.com/JimmyErikson" class="btn btn-default btn-lg"><i class="fa fa-twitter fa-fw"></i> <span class="network-name">Twitter J.Eriksson</span></a>
                    </li>
                    <li>
                        <a href="https://github.com/patriknilsson2" class="btn btn-default btn-lg"><i class="fa fa-github fa-fw"></i> <span class="network-name">Github - BBB</span></a>
                    </li>
                    <li>
                        <a href="https://yh.pingpong.se/login/processlogin?targeturl=%2FstartPage.do" class="btn btn-default btn-lg"><i class="fa fa-google-plus fa-fw"></i> <span class="network-name">Hermods</span></a>
                    </li>
                </ul>
            </div>
        </div>
    </section>
</body>
