@model IEnumerable<Mvcgrundprojekt.Models.ShoppingCartModel>

<table class="table">
    <tr>

        <th>
            Product:
        </th>
        <th>
            Amount:
        </th>

        <th>
        </th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.ProductName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TotalAmountPerID)

            @*satt svart färg på papperskorgen!*@
            <a href="@Url.Action("Delete", "ShoppingCart", new { item.ProductID })"><span class="glyphicon glyphicon-trash" style="color:black"></span></a>
        </td>
        <td>
            <img style="max-height:100px; max-width:100px;" src="@item.imgUrl" />
           
        </td>
    </tr>
}

</table>
